<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("tabs");
</script> 

<div id="tabs" class="yui-navset">
    <ul class="yui-nav">
        <% count=1 %>
        <% @groups_by_twit.each_key do |k| %> 
        <li><a href="#tab<%= count %>"><em><%= k %></em></a></li>
        <% count += 1 %>
        <% end %>
        <li class="selected"><a href="#tab<%= count %>"><em>Searches</em></a></li>
    </ul>            
    <div class="yui-content" style="background: black;color: white">
        <div>
          <div style="width: 100%;"><p style="border: solid thin red">add group</p></div>
           <div style="font-size: 75%;border: solid thin white;float: left;width: 32%"> 
            <p style="color: red;border: solid thin yellow">GROUP NAME GOES HERE</p>
				<p>only a little bit here but getting bigger</p>
				<p>only a little bit here but getting bigger</p>
				<p>only a little bit here but getting bigger</p>
				</div>
           <div style="margin-left: 1.5%;font-size: 75%;border: solid thin white;float: left;width: 32%"> <p>only a little bit here but getting bigger</p> </div>
           <div style="margin-left: 1.5%;font-size: 75%;border: solid thin white;float: left;width: 32%"><p>only a little bit here but getting bigger</p> </div>
        </div>
        <div><p>Tab Two Content</p></div>
        <div><p>Tab Three Content</p></div>
    </div>
</div>
